<mat-list role="list">
    <a mat-list-item role="listitem" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    <a mat-list-item role="listitem" [routerLink]="['products']" routerLinkActive="router-link-active">Products</a>
    <a mat-list-item role="listitem" [routerLink]="['dashbords']" routerLinkActive="router-link-active">Dashboards</a>
    <a mat-list-item role="listitem" [routerLink]="['customers']" routerLinkActive="router-link-active">Customers</a>
    <a mat-list-item role="listitem" [routerLink]="['orders']" routerLinkActive="router-link-active">Orders</a>
</mat-list>